@font-face {
	font-family: "LT Superior";
	src: url("../fonts/LTSuperior-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: "LT Superior";
	src: url("../fonts/LTSuperior-Medium.otf");
	font-weight: 500;
}
@font-face {
	font-family: "LT Superior";
	src: url("../fonts/LTSuperior-Semibold.otf");
	font-weight: 600;
}
@font-face {
	font-family: "LT Superior";
	src: url("../fonts/LTSuperior-Bold.otf");
	font-weight: 700;
}
